# User account that will be used to configure environment and run application.
merchantly_user: merchantly

# List of the ssh authorized keys that will be added to the application user account.
#merchantly_user_auth_keys:
#  - "{{ lookup('file', 'public_keys/john.smith') }}"

# Name of database for the application
merchantly_db_name: "merchantly_production_{{ merchantly_user }}"

# Username for database account that the application will be used.
merchantly_db_user: "{{ merchantly_user }}"

# Password for database account.
# Value of the variable can be set from the environment variable or from the ansible vault.
merchantly_db_password: "{{ lookup('env','MERCHANTLY_DB_PASSWORD') | default('password') }}"
#merchantly_db_password: "{{ merchantly_db_password_vault }}"

# How much memory can database use in megabytes. Default is 1/4 of total server memory.
#merchantly_db_max_memory: 4096

# Site DNS name
merchantly_site_name: "{{ inventory_hostname }}"

# Number of thumbor services that will be started. Default is 3.
merchantly_thumbor_count: 3

# Thumber security key to prevent tampering with the url.
# https://thumbor.readthedocs.io/en/latest/security.html#stopping-tampering
merchantly_thumbor_security_key: fDGZdT84C9sJWUpgo1xRG4bHyQ8sCjyu

# Hostname of the AWS S3 bucket where static files are placed
#merchantly_static_s3: mybacket.s3.eu-central-1.amazonaws.com
