# {{ ansible_managed }}

{# https://gist.github.com/jrom/1760790 #}
if ($scheme != "http") {
    set $test A;
}
if ($request_method = GET) {
    set $test  "${test}B";
}
if ($test = AB) {
    rewrite ^ http://$host$uri permanent;
}
